@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}


body.fall-back {
    background-color: black;
    width: 100%;
    height: 100vh;
    z-index: 1000 !important;
    position: fixed !important;
}
.fraud-body {
    display: none;
}
body.fall-back .fraud-body {
    display: flex;
}

body {
    z-index: 50;
}
.landing-page {
   width: 100%;
}
.landing-page-about {
    width: 100%;
    background-image: url("./Assets/Group\ 41oscil.png") !important;
 }


.landing-page-overlay {
    background-color: #000000A6;
    width: 100%;
}